[Desktop Entry]
Type=Application
Name=maki
GenericName=Ebook Reader
Comment=A beautiful, fast ebook reader
Exec=maki
Icon=maki
Terminal=false
Categories=Office;Viewer;Literature;
Keywords=ebook;epub;mobi;reader;book;
MimeType=application/epub+zip;application/x-mobipocket-ebook;application/vnd.amazon.ebook;application/x-fictionbook+xml;application/vnd.comicbook+zip;application/pdf;
StartupWMClass=shiori
